html,
body {
  height: 100%;
}

body {
  @extend %open-sans-400;
  font-size: 16px;
  line-height: 27px;
  color: $default;
  overflow-x: hidden;
  min-width: 290px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1920px;
}

.title {
  text-align: center;
  @extend %montserrat-700;
  font-size: 36px;
  line-height: 51px;
  color: $title;
}

.email {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: $title;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/envelope.svg");
    top: 8px;
    left: 0;
    width: 16px;
    height: 12px;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    margin: 0 15px;
  }

  li.slick-active {
    button {
      background-color: #ffef35;
    }
  }

  button {
    border: none;
    border-radius: 50%;
    padding: 0;
    width: 8px;
    height: 8px;
    font-size: 0;
    background-color: $title;
  }
}

// ~| ANIMATIONS |~
@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}