html,
body {
  height: 100%;
}

body {
  @extend %open-sans-400;
  font-size: 16px;
  line-height: 28px;
  color: $default;
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1920px;
}

.title {
  text-align: center;
  @extend %montserrat-700;
  font-size: 36px;
  line-height: 51px;
  color: $title;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    margin: 0 15px;
  }

  li.slick-active {
    button {
      background-color: #ffef35;
    }
  }

  button {
    border: none;
    border-radius: 50%;
    padding: 0;
    width: 8px;
    height: 8px;
    font-size: 0;
    background-color: $title;
  }
}