// === WIDTH < 992px ===
@media (max-width: 992px) {
  .footer__info {
    max-width: 380px;
  }

  .footer__social {
    margin: 0 auto;
  }

  .footer__menu {
    margin: 0 auto;
  }
}
// === / WIDTH < 992px ===

// === WIDTH < 930px ===
@media (max-width: 930px) {
  .footer__info {
    max-width: 380px;
  }
}
// === / WIDTH < 930px ===

// === WIDTH < 768px ===
@media (max-width: 768px) {
  .header__button {
    display: none;
  }

  .menu {
    padding-left: 0;
    padding-right: 0;
  }

  .logo {
    margin: 0;
  }

  .footer__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__info {
    margin-bottom: 50px;
    width: 100%;
  }

  .footer__info{
    max-width: 100%;
  }
}
// === / WIDTH < 768px ===

// === WIDTH < 630px ===
@media (max-width: 630px) {
  .logo {
    order: -1;

    &::after {
      display: none;
    }
  }

  .menu {
    z-index: 15;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #fff;
    transform: translateY(-350px);
    transition: $transition;

    &--opened {
      transform: translateY(20px);
    }
  }
  .logo {
    z-index: 16;
  }

  .menu__list {
    display: block;
  }

  .menu__list-item + .menu__list-item {
    padding-left: 0;
  }

  .menu__list-link {
    display: block;
    padding: 15px 0;
  }

  .header__inner {
    padding: 45px 15px 0;
    flex-wrap: wrap;
  }

  .header__button-menu {
    z-index: 16;
    order: -1;
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;

    span {
      display: block;
      margin: 3px 0;
      border-radius: 25%;
      width: 30px;
      height: 3px;
      background-color: #000;
    }
  }
}
// === / WIDTH < 630px ===

// === WIDTH < 375px ===
@media (max-width: 375px) {
  .footer__inner{
    justify-content: space-between;
  }

  .footer__social{
    margin-left: 0;
  }

  .footer__form {
    display: block;
  }

  .footer__form-button {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
  }
}
// === / WIDTH < 375px ===