// === COLORS ===
$default: #5A5A5A;
$title: #363838;
// === / COLORS ===

// === FONTS ===
%montserrat-700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

%open-sans-400{
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%open-sans-600{
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}
// === / FONTS ===

// === TRANSITION ===
$transition: all .5s;
$transition-slower: all 1.5s;
// === / TRANSITION ===